
@media  (min-width: 1120px) {
    .DESView {
        display: block !important;
    }
    .blank {
        display: none !important;
    }
    

}
    
@media (max-width: 500px) {
    .blank {
        display: none !important;
    }
    .mobile {
        display: block !important;
    }
    main {
        width: 100%;
        border-radius: 0px;
    }
    main .NewArrivals {
        border-radius: 0px;
    }
    
    main .NewArrivals h1 {
        font-weight: 500;
        font-size: 23px;
    }
    
    main  .prod_img img {
        width: 175px;
        border-radius: 3px;
    }
    main .prod_name h1 {
        font-size: 13px;
        font-weight: 400;
    }
    main .former_prod_price {
        display: none;
    }
    main .prod_remainitem {
        display: none;
    }
    main .NewArrivals h1 {
        padding: 10px;
        font-size: 15px;
        font-weight: 700;
    }
    main .NewArrivals  a button {
        font-size: 11px;
        font-weight: 800;
    }
    main .NewArrivals  a button i {
        display: none;
    }
    main .NewArrivals .time {
        display: none;
    }
    .magic_deals {
        margin-bottom: 4px;
    }
    .mainStock {
        margin-bottom: 4px;
        border-radius: 0px;
    }
    .mainStock .top_selling {
        padding: 3px 10px;
        border-radius: 0px;
    }
    .mainStock .top_selling h1 {
        font-size: 15px;
        font-weight: 700;
    }
    .mainStock .top_selling a {
        font-size: 11px;
        font-weight: 800;
        border-radius: 0px;
    }
    .mainStock .top_selling a i {
        display: none;
    }
    .mainStock .PhoneStock {
        padding: 3px 10px;
        border-radius: 0px;
    }
    .mainStock .PhoneStock h1 {
        font-size: 15px;
        font-weight: 700;
        margin-top: 5px;
    }
    .mainStock .PhoneStock a {
        font-size: 11px;
        font-weight: 800;
    }
    .mainStock .PhoneStock a i {
        display: none;
    }
    .mainStock .limitedStock {
        padding: 3px 10px;
        border-radius: 0px;
    }
    .mainStock .limitedStock h1 {
        font-size: 15px;
        font-weight: 700;
        margin-top: 5px;
    }
    .mainStock .limitedStock a {
        font-size: 12px;
        font-weight: 800;
    }
    .mainStock .limitedStock a i {
        display: none;
    }
    .mainStock .nive_store {
        padding: 3px 10px;
        border-radius: 0px;
    }
    .mainStock .nive_store h1 {
        font-size: 15px;
        font-weight: 700;
        margin-top: 5px;
    }
    .mainStock .nive_store a {
        font-size: 11px;
        font-weight: 800;
    }
    .mainStock .nive_store a i {
        display: none;
    }

    .mainStock .Beauty_Deals {
        padding: 3px 10px;
        border-radius: 0px;
    }
    .mainStock .Beauty_Deals h1 {
        font-size: 15px;
        font-weight: 700;
        margin-top: 5px;
    }
    .mainStock .Beauty_Deals a {
        font-size: 11px;
        font-weight: 800;
    }
    .mainStock .Beauty_Deals a i {
        display: none;
    }
    .mainStock .Best_Deals {
        padding: 3px 10px;
        border-radius: 0px;
    }
    .mainStock .Best_Deals h1{
        font-size: 15px;
        font-weight: 700;
        margin-top: 5px;
    }
    .mainStock .Best_Deals a {
        font-size: 11px;
        font-weight: 800;
    }
    .mainStock .Best_Deals a i {
        display: none;
    }
    .magic_deals {
        width: 95%;
        margin-top: 10px;
    }
    .jumia {
        width: 100%;
        padding: 10px 10px;
    }
    .jumia h1 {
        font-size: 23px;
    }
    .jumia h2 {
        font-size: 19px;
    }
    .jumia p {
        padding-right: 0px;
    }
    .magic_deals  {
        display: none;
    }
    .mobile_catego {
        width: 100%;
        height: auto;
        background-color: white;
        display: grid !important;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        /* grid-gap: 8px; */
        padding: 10px;
    }
    .mobile_catego .one {
        text-align: center;
    }
    .mobile_catego img {
        width: 100px;
    }
    .mobile_catego .one p {
        font-size: 12px;
    }
  
}
