
@media  (min-width: 1120px) {
    .DESView {
        display: block !important;
    }
    .blank {
        display: none !important;
    }
    

}
    
@media (max-width: 520px) {
    .blank {
        display: none !important;
    }
    .mobile {
        display: block !important;
    }
    main {
        width: 100%;
    }
    main  .prod_img img {
        width: 160px;
        border-radius: 3px;
    }
    main .prod_name h1 {
        font-size: 12px;
        font-weight: 400;
    }
    main .prod_price {
        /* font-size: 14px; */
    }
    main .former_prod_price {
        display: none;
    }
    main .prod_remainitem {
        display: none;
    }
    main .NewArrivals h1 {
        padding: 10px;
        font-size: 15px;
        font-weight: 700;
    }
    main .NewArrivals  a button {
        font-size: 11px;
        font-weight: 800;
    }
    main .NewArrivals  a button i {
        display: none;
    }
    main .NewArrivals .time {
        display: none;
    }
    .mainStock {
        margin-bottom: 3px;
    }
    .mainStock .top_selling {
        padding: 3px 10px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }
    .mainStock .top_selling h1 {
        font-size: 15px;
        font-weight: 700;
    }
    .mainStock .top_selling a {
        font-size: 11px;
        font-weight: 800;
    }
    .mainStock .top_selling a i {
        display: none;
    }
    .mainStock .PhoneStock {
        padding: 3px 10px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }
    .mainStock .PhoneStock h1 {
        font-size: 15px;
        font-weight: 700;
        margin-top: 5px;
    }
    .mainStock .PhoneStock a {
        font-size: 11px;
        font-weight: 800;
    }
    .mainStock .PhoneStock a i {
        display: none;
    }
    .mainStock .limitedStock {
        padding: 3px 10px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }
    .mainStock .limitedStock h1 {
        font-size: 15px;
        font-weight: 700;
        margin-top: 5px;
    }
    .mainStock .limitedStock a {
        font-size: 12px;
        font-weight: 800;
    }
    .mainStock .limitedStock a i {
        display: none;
    }
    .mainStock .nive_store {
        padding: 3px 10px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }
    .mainStock .nive_store h1 {
        font-size: 15px;
        font-weight: 700;
        margin-top: 5px;
    }
    .mainStock .nive_store a {
        font-size: 11px;
        font-weight: 800;
    }
    .mainStock .nive_store a i {
        display: none;
    }

    .mainStock .Beauty_Deals {
        padding: 3px 10px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }
    .mainStock .Beauty_Deals h1 {
        font-size: 15px;
        font-weight: 700;
        margin-top: 5px;
    }
    .mainStock .Beauty_Deals a {
        font-size: 11px;
        font-weight: 800;
    }
    .mainStock .Beauty_Deals a i {
        display: none;
    }
    .mainStock .Best_Deals {
        padding: 3px 10px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }
    .mainStock .Best_Deals h1{
        font-size: 15px;
        font-weight: 700;
        margin-top: 5px;
    }
    .mainStock .Best_Deals a {
        font-size: 11px;
        font-weight: 800;
    }
    .mainStock .Best_Deals a i {
        display: none;
    }
    .magic_deals {
        width: 95%;
        margin-top: 10px;
    }
    .jumia {
        width: 95%;
    }
    .jumia h1 {
        font-size: 14px;
    }
    .jumia h2 {
        font-size: 14px;
    }
    .jumia p {
        padding-right: 0px;
    }
    .magic_deals  {
        display: none;
    }
  
}
